<h1>Poteshare</h1>

<% if flash[:notice] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>

<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :address_keyword, value: @keyword %>
    <%= f.submit "検索" %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->

  <h4> メールアドレス： <%= current_user.email %> </h4>
  <h4><%= current_user.name %> さんがログインしています </h4>

  <%= link_to "プロフィール編集", edit_user_registration_path %> 
  <%= link_to "ルーム登録", new_event_path %> 
  <%= link_to "ルーム一覧", events_path %> 

  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>