
<div class="top-page">
  <% if user_signed_in? %> 
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
  <% end %>

  <div class="jumbotron">
  <div class="container">
    <h3>Potepan Shareでまだ体験したことのない旅をしよう</h3>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="エリア" aria-label="Search">
      <button class="btn btn-primary" type="submit">探す</button>
    </form>
  </div>
  </div>

  <div class="container border border-0">
    <h3>おすすめのエリア</h3>
      <div class="image_container">
        <%= image_tag 'img_tokyo.jpg', size: '250x350' %>
        <%= image_tag 'img_sapporo.jpg', size: '250x350' %>
        <%= image_tag 'img_osaka.jpg', size: '250x350' %>
        <%= image_tag 'img_kyoto.jpg', size: '250x350' %>
      </div>
  </div>

</div>
