<h1>ルーム一覧</h1>

<div class="events">

<table div class="table">
<thead div class="thead">
    <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>内容</th>
        <th>料金</th>
        <th>住所</th>
        <th>参照</th>
    </tr>
</thead>

<tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= image_tag event.image if event.image.attached? %></td>
          <td><%= event.room_name %></td>
          <td><%= event.content %></td>
          <td><%= event.price %></td>
          <td><%= event.address %></td>
          <td>
            <%= link_to "参照", event %>
          </td>
        </tr>
      <% end %>
</tbody>
</table>

</div>
