<div class="room_registration">
  <div class="container">
      <%= flash[:notice] %>
    <div class ="room_title">
      <h4>ルーム情報登録</h4>
    </div>

<%= form_with model: @event do |f| %>
  <table div class="table">
    <tr>
      <div class="form-group">
        <th><%= f.label :room_name, "ルーム名" %><span class="badge badge-danger">必須</span></th>
        <td><%= f.text_field :room_name, class: "form-control", autofocus: true %></td>
      </div>
    </tr>

    <tr>
      <div class="form-group">
        <th><%= f.label :content, "ルーム紹介" %><span class="badge badge-danger">必須</span></th>
          <td><%= f.text_area :content, class: "form-control" %></td>
        </div>
    </tr>

    <tr>
      <div class="form-group">
        <th><%= f.label :price, "料金" %><span class="badge badge-danger">必須</span></th>
          <td><%= f.text_field :price, class: "form-control" %></td>
      </div>
    </tr>

    <tr>
      <div class="form-group">
        <th><%= f.label :address, "住所" %><span class="badge badge-danger">必須</span></th>
          <td><%= f.text_field :address, class: "form-control" %></td>
      </div>
    </tr>

    <tr>
      <div class="form-group">
        <th><%= f.label :image, "ルーム画像" %><span class="badge badge-danger">必須</span></th>
          <td><%= f.file_field :image %></td>
      </div>
    </tr>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <tr>
      <div class="actions">
        <th><%= f.submit "登録", class:"btn btn-primary" %></th>
      </div>
    </tr>
  </table>
<% end %>

  </div>
</div>

