<h3>予約内容確認</h3>
 
    <table>    
          <tr>
            <th>開始日</th>
            <td><%= @reservation.started_at %></td>
          </tr>
   
          <tr>
            <th>終了日</th>
            <td><%= @reservation.ended_at %></td>
          </tr>

          <tr>
            <th>人数</th>
            <td><%= @reservation.people_number %></td>
          </tr>

    <%= form_with model: @reservation, method: :post, url: event_reservations_path(@reservation) do |form| %>
            <%= form.hidden_field :started_at %>
            <%= form.hidden_field :ended_at %>
            <%= form.hidden_field :people_number %>
            <%= form.submit '送信する' %>
    <% end %>

    <div>
        <ul>
            <li><%= link_to "トップに戻る", root_path %></li>
        </ul>
    </div>