<h1>予約一覧</h1>

<thead>
    <tr>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>合計料金</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>予約確定日時</th>
    </tr>
</thead>

<tbody>

<% @events.each do |event| %>
    <table>
     <tr>
        <td><%= event.room_name %></td>
        <td><%= event.content %></td>
        <td><%= event.price %></td>     
     </tr>
    <table>
<% end %>

<% @reservations.each do |reservation| %>
       <table>
        <tr>
          <td><%= reservation.started_at %></td>
          <td><%= reservation.ended_at %></td>
        </tr>
       <table>
<% end %>

</tbody>
