<h1>予約一覧</h1>

<thead>
    <tr>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>合計料金</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>予約確定日時</th>
    </tr>
</thead>

<tbody>

<% @reservations.each do |reservation| %>
    <table>
     <tr>
       <td><%= reservation.event.room_name %></td>
       <td><%= reservation.event.content %></td>
       <td><%= reservation.price %></td>
       <td><%= reservation.started_at.strftime("%y年%m月%d日") %></td>
       <td><%= reservation.ended_at.strftime("%y年%m月%d日") %></td>
       <td><%= reservation.created_at %></td>
     </tr>
    <table>
<% end %>

</tbody>
